.beginning{
    margin-left: 5vw;
    margin-right: 5vw;
}

.beginning h1{
    font-size:4vw;
   
}
.beginning p{
    font-size: 2vw;
}

.console-list img:nth-child(even){
    margin-right: 5vw;
}
.console-list p, .console-list h1{
    
    margin-right: 5vw;
    margin-left: 5vw;
}
.console-list div>img{
    margin-bottom: 10%;
}
.console-list p{
    font-size: 2vw;
}
.console-list h1{
    font-size:3vw;
}



/*Original console*/
#og{
grid-template-columns: 50% 0% 20%;
display: grid;
}
#og h1{
    grid-row: 1;
    grid-column: 1;
}
#og p{
    grid-row: 2;
    grid-column: 1;
}
#og img{
    grid-row: 2;
    grid-column: 3;
    height: 20vw;
}
/*Xbox 360*/
#xbox{
    display: grid;
    }
#xbox h1{
        grid-row: 1;
        grid-column: 3;
    }
#xbox p{
        grid-row: 2;
        grid-column: 3;
        margin-right: 5vw;
    }
#xbox img{
        grid-row: 2;
        grid-column: 1;
        height: 25vw;
    }
/*Xbox One*/
#one{
    display: grid;
    }
#one h1{
        grid-row: 1;
        grid-column: 1;
    }
#one p{
        grid-row: 2;
        grid-column: 1;
        margin-right: 5vw;
    }
#one img{
        grid-row: 2;
        grid-column: 3;
        height: 20vw;
    }

/*Series X|S*/
#series{
    display: grid;
    }
#series h1{
        grid-row: 1;
        grid-column: 3;
    }
#series p{
        grid-row: 2;
        grid-column: 3;
        margin-right: 5vw;
    }
#series img{
        grid-row: 2;
        grid-column: 1;
        height: 25vw;
        
    }
.console-list div>image{
    height: 200vw;
}


@media screen and (max-width: 480px){
    
    .console-list p {
        font-size: 3.2vw;
    }
    #og img{
        height: 25vw;
    }
    
}

@media screen and (max-width: 768px){
    #og img{
        height: 25vw;
    }
    .beginning p{
        font-size: 3vw;
    }
}

@media screen and (max-width: 320px){
    .beginning h1{
        font-size:6vw;
        margin-bottom: -1vh;
    }
    .beginning p{
        font-size: 4vw;
    }

    .console-list p{
        font-size: 4.3vw;
        width: 90%;
    }
    .console-list h1{
        font-size:6vw;
    }
    
    
    #og img{
        height: 25vw;
    }
    #series p{
        margin-left: 5%;
    }
    
}
