html{
    height: 100vw;
}
.buyxbox h1{
    display: flex;
    font-size: 3vw;
    justify-content: center;
}
/*Setup images*/
.images{
    
    background-image: url("../images/game-pass-deco-2.png");
    background-size: cover;
}
.images div{
    background-color: rgba(34, 139, 34, 0.1);
    background-size: cover;
    backdrop-filter: blur(4px);
    display: grid;
}

.images img:nth-child(1){
    grid-column: 2;
    grid-row: 1;
    height: 20vw;
    margin-left: 5vw;
}
.images img:nth-child(2){
    grid-column: 3;
    grid-row: 1;
    height: 20vw;
}
/*Setup text*/
.text{
    display: grid;
    grid-template-columns: 25%  40%;
    font-size: 2vw;
}
.text p{
    font-size: 3vw;
    height: 15%;
    padding-left: 10%;
    
}
.text span p{
    background-color: #005600;
}
#col1{
    grid-column: 1;
    grid-row: 1;
}

#col2{
    border-left: 0.25vw dashed;
    border-color: #005600;
    grid-column: 2;
    grid-row: 1;
}
#col3{
    grid-column: 3;
    grid-row: 1;
}
#purchase{
    display: grid;
    grid-template-columns: 25.5vw  39vw 0vw;
}
#purchase a:nth-child(1){
    grid-column: 2;
    grid-row: 1;
}
#purchase a:nth-child(2){
    grid-column: 3;
    grid-row: 1;
}
#purchase a{

    height: 3vW;
    width: 14vW;
    background-color: rgba(244, 244, 244, 0.1);
    transition: all 0.25s;
    font-size: 100%;
    text-align: center;
    
    border: 2px solid;
    
}
#purchase a:hover{

    background-color: rgba(244, 244, 244, 0.6);
    transition: all 0.25s ease-in-out;

    color: #005600;
    border: 2px dotted;
    border-bottom: solid 2px;   

}

@media screen and (max-width: 320px){
    .text{
        grid-template-columns: 30%  40%;
    }

    .buyxbox h1{
        font-size: 2vh;
    }
    .images img{
        margin-bottom: 2vw;
    }
    .images img:nth-child(1){
        margin-left: 10vw;
        height: 40vw;
    }
    .images img:nth-child(2){
        height: 40vw;
    }
    
    .text p{
        height: 6vh;
        font-size: 15px;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .text span p{
        height: 6vh;
        font-size: 15px;
    }

    #col2 p{
        padding-left: 1vh;
    }
    #purchase{
        grid-template-columns: 30vw  39vw 0vw;
    }
    #purchase a{
        height: 6vW;
        width: 22vW;
        border: 1px solid;
        font-size: 10px;
    }
    
}


@media screen and (max-width : 480px){
    .buyxbox h1{
        font-size: 3vh;
    }
    .images img:nth-child(1){
        margin-left: 10vw;
        height: 40vw;
    }
    .images img:nth-child(2){
        height: 40vw;
    }
    .text p{
        height: 10vh;
        font-size: 2vh;
        margin-top: 0%;
        margin-bottom: 0%;
    }
    .text span p{
        height: 10vh;
        font-size: 2vh;
    }
    #purchase a{
        height: 5vW;
        width: 20vW;
        border: 2px solid;
        font-size: 120%;
    }
}
@media screen and (max-width : 768px){
    #purchase a{

        font-size: 75%;
        margin-bottom: 2vh;
    }
}